<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myapp.attendance_application">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/attendance_img"
        android:label="Attendance Application"
        android:roundIcon="@mipmap/attendance_img"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".AttendanceSummary"  android:label="Attendance Summary"
            android:parentActivityName=".Actions">

        </activity>

        <activity android:name=".CreateCourse"  android:label="New Course"
            android:parentActivityName=".Actions" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".AttendaceDialog" />
        <activity
            android:name=".AddAttendance"
            android:label="Add Attendance"
            android:parentActivityName=".Actions" />
        <activity
            android:name=".ViewAttendance"
            android:label="View Attendance"
            android:parentActivityName=".Actions" >


        </activity>

        <activity
            android:name=".Actions"
            android:label="Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".StudentInfo"
            android:label="Student Data"
            android:parentActivityName=".Actions" />
        <activity
            android:name=".RegisterActivity"
            android:label="Register"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="LogIn" />
    </application>

</manifest>